.idea
*.iml
target/
lib/
pr
*/target
target/*
*.iws
logs/
projectFilesBackup/
.idea/
.test/
*.iml
*.class
*.classpath
*.project
*/.settings
.settings
*.DS_Store
/.settings
/*.projectpu
*.db
*.log
*/resource/rebel.xml
~*.doc*
rebel.xml
build/
